*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'chivo mono', monospace;
    background-image: linear-gradient(to bottom right, rgba(189, 57, 57, 0.411), black);
    color: grey;
    overflow: hidden;
    
}

#menu-background-image img{
    left: 60%; 
    opacity: 0.4;
    position: absolute;
    transition: opacity 800ms ease,
      top 800ms ease,
      left 800ms ease,
      z-index 800ms ease,
      scale 800ms ease;
    pointer-events: none;
    z-index: 1;
    top: 30%;
  }

  .nav-links[data-active-index="0"] > #menu-background-image img{
    top:  -30%;
  }

  .nav-links[data-active-index="1"] > #menu-background-image img{
    top: -28%;
  }
  
  .nav-links[data-active-index="2"] > #menu-background-image img{
    top: -16%;
  }
  
  .nav-links[data-active-index="3"] > #menu-background-image img{
    top: -4%;
  }

  .nav-links[data-active-index="4"] > #menu-background-image img{
    top: 0%;
    
    opacity: 1;
    z-index: 2;
    
  } 

.intro {
    height: 100vh;
    z-index: 100;
}

.intro .video {
    height: 100%;
    width:100%;
    object-fit: cover;
}

.intro h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: white;

}

section {
    height: 100vh;
    color: black;
}

.scene, canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}

.wip {
    font-size: 20px;
    position: fixed;
    
}

nav {
    display: flex;
    padding: 5% 5%;
    justify-content: space-between;
    width: 20%; 
    position: fixed;
    cursor: default; 
    animation: fade-down 10s ;
    animation-timing-function:cubic-bezier(0.445, 0.05, 0.55, 0.95);
  }


.nav-links ul li {
    list-style: none;
    padding:10px 0px;
    position: relative;
  
    
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-family: 'chivo mono', monospace;
    text-align: left;
    flex: 1;
}


.nav-links ul li a:hover{
    opacity: 0.3;
    transition: color 0.2s ease;
}

.current {
   
    opacity: 0.6;
    cursor:default;
    padding: 10px 10px;
    color: black;
}

.burger {
    display: none;
    padding-right: 2px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 5px;
    transition: all 0.3s ease;
    
}

.audio {
    width: 20%;
    position: fixed;
    bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column; 
    animation: fade-down 3s ;
    animation-timing-function: ease-in;
}

.audio a{
    color: darkred;
    list-style: none;
      
}

.audio img{
    height: 100px;
    width: 100px;
    transform: rotate(270deg);
}

.angelus img{
    width: 1000px;
    position: absolute;
    z-index: -2;
    pointer-events: none;
    opacity: 0.3;
    padding: 1%;
    margin: 8%;
    left: 50px;
    border: solid white 2px;
}   

.boo3 {
    position: fixed;
    width: 10%;
    height: 4%;
    margin-top: 470px;
    margin-left: 2%;
}
.boo33 {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.boo3phone {
    position: fixed;
    width: 10%;
    height: 4%;
    margin-top: -30%;
}

.breakfast {
    position: absolute;
    width: 600px;
    right: 20%;
    color: antiquewhite;
    animation: fade-up 100s ease;
}

.lines {
    display: block;
    padding: 10px;
    
}


.lines div{
    width: 25px;
    height: 8px;
    background-color: black;
    margin: 5px;
    border-radius: 10px;
    transition: all 1.2s ease;
    
}

.line1 {
    transform: translate(40px, 30px);
    transition: all 0.2s ease;
}
.line2 {
    transform: translate(35px, 17px);
}
.line3 {
    transform: translate(60px, 4px);
}
.line4 {
    transform: translate(60px, 12px) rotate(-30deg);
}
.line5 {
    transform: translate(60px, 5px);
}
.line6 {
    transform: translate(65px, 0px) rotate(-70deg);
}
.line7 {
    transform: translate(60px, 0px) rotate(-70deg);
}
.line8 {
    transform: translate(55px, 0px) rotate(-70deg);
}
.line9 {
    transform: translate(42px, -2px);
}
.line10 {
    transform: translate(22px, -15px);
}
.line11 {
    transform: translate(10px, -28px);
 
}
.line12 {
    transform: translate(10px, -47px) rotate(-30deg);
 
}
.line13 {
    opacity: 0;
    transform: translate(500px, -47px) rotate(-30deg);
 
}
.line14 {
    opacity: 0;
    transform: translate(500px, -45px) rotate(-30deg);
 
}


.boob .line1 {
    transform: translate(-40px, 60px) rotate(90deg);
    width: 70px;
}
.boob .line2 {
    transform: translate(-30px, 40px) rotate(20deg);
    width: 60px;
}
.boob .line3 {
    transform: translate(0px, 40px) rotate(-20deg);
    height: 5px
}
.boob .line4 {
    transform: translate(0px, 40px) rotate(20deg);
    width:30px
}
.boob .line5 {
    transform: translate(-10px, 40px) rotate(-20deg);
    width: 40px;
}
.boob .line6 {
    transform: translate(35px, -10px) rotate(90deg);
    width: 40px;
    height: 40px;
}
.boob .line7 {
    transform: translate(80px, -55px) rotate(90deg);
    width: 40px;
    height: 40px;
}
.boob .line8 {
    transform: translate(120px, -90px) rotate(90deg);
}
.boob .line9 {
    transform: translate(130px, -110px) rotate(20deg);
}
.boob .line10 {
    transform: translate(130px, -110px) rotate(-20deg);
}
.boob .line11 {
    transform: translate(130px, -115px) rotate(20deg);
}
.boob .line12 {
    transform: translate(130px, -115px) rotate(-20deg);
}
.boob .line13 {
    transform: translate(50px, -140px) rotate(-90deg);
    opacity: 1;
    background-color: red;
    width: 10px;
}
.boob .line14 {
    transform: translate(85px, -157px) rotate(-270deg);
    opacity: 1;
    background-color: red;
}

.about .line1 {
    transform: translate(97px, -325px) rotate(270deg);
    width: 10px;
    height: 3px;
}
.about .line2 {
    transform: translate(98px, -350px) rotate(360deg);
    height: 9px;
    width: 9px;
    background-color: red;
}
.about .lines div {
    background-color: red;
}

.painting .line1 {
    transform: translate(120px, -290px) rotate(360deg);
    width: 10px;
    height: 3px;
}

.painting .lines div {
    background-color: red;
}


.drawing .line1 {
    transform: translate(110px, -253px) rotate(1080deg);
    width: 10px;
    height: 3px;
    
}
.drawing .lines div {
    background-color: red;
}



.digital .line1 {
    transform: translate(110px, -215px) rotate(360deg);
    height: 3px
}
.digital .lines div {
    background-color: red;
}

.shop .line1 {
    transform: translate(85px, -173px) rotate(1080deg);
    width: 10px;
    height: 3px;
}
.shop .line2 {
    transform: translate(10px, -180px);
}
.shop .line3 {
    transform: translate(10px, -180px);
}
.shop .line4 {
    transform: translate(10px, -180px);
}
.shop .line5 {
    transform: translate(10px, -160px);
    width: 100px;
    height: 30px;
}

.shop .lines div {
    background-color: green;
}


.footer {
    position: fixed;
    bottom: 2px;
    right: 30px;
    color: darkred;
}


@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateX(-600px) scale(1);

    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

}
@keyframes fade-up {
    0% {
        opacity: 1;
        transform: translateY(800px) scale(1);

    }

    100% {
        opacity: 1;
        transform: translateY(-100%) scale(1);
    }

}


@media (max-width: 1000px) {
   
   body{
    overflow-x: hidden;
   }

 
    
   nav {
        position: unset;
        overflow: hidden;
    
    } 

    .nav-links{
        position: fixed;
        right: 0px;
        height: 50vh;
        top: 8vh;
        background-color: black;
        border-radius: 25px;
        opacity: 0.7;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60%;
        transform: translateX(-200%);
        transition: transform 0.5s ease-in;
        

    }


    .nav-links ul li a {
        color: whitesmoke;
    

    }

    .nav-links ul li {
        list-style: none;
        padding:30px 10px;
               
    }

    .boo3phone {
        position: fixed;
        width: 10%;
        height: 4%;
        bottom: 40%;
    }
    .boo3 {
        opacity: 0;
    }

    .current {
        padding: 30px 10px;
    }

    

    .burger {
        display: block;
        cursor: pointer;
    }

    .socials img {
        width: 20px;
        position: relative;
        margin: 0px 0 20px;
    }
    .info {
        font-size: 12px;
    }
    
    .audio {
       
        position: fixed;
        width: 100%;
        padding-bottom: 10px;
        font-size: 15px;
    }

    .footer {
        left: 2px;
        bottom: 0px;
        background-color: ghostwhite;
        border-top-right-radius: 10px;
        width: 55%;
    }

}

.nav-active{
    transform: translateX(-70%);
}

@keyframes navLinkFade{
    from{
        opacity:0;;
        transform: translateX(50px);

    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .burger1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .burger2 {
    opacity: 0;
}

.toggle .burger3 {
    transform: rotate(45deg) translate(-5px, -6px);
}