* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow: hidden;
    background: url(https://cdn.create.vista.com/api/media/medium/422600988/stock-photo-abstract-image-empty-space-studio?token=);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
}

.scene,
canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}
