
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'chivo mono', monospace;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, white, black);
  min-height: 100vh;
  color: black;
  
}

.scene, canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    pointer-events: none;
    
}

.wip {
  font-size: 20px;
  position: fixed;
}

nav {
  display: flex;
  padding: 5% 5%;
  justify-content: space-between;
  width: 20%; 
  position: fixed;     
  cursor: default;
}


.nav-links ul li {
    list-style: none;
    padding:10px 0px;
    position: relative;
  
    
}

.nav-links ul li a {
    color: ghostwhite;
    text-decoration: none;
    font-size: 15px;
    font-family: 'chivo mono', monospace;
    text-align: left;
    flex: 1;
}


.nav-links ul li a:hover{
  color: darkred;
  transition: color 0.2s ease;
}

.current {
  
  opacity: 0.6;
  cursor:default;
  padding: 10px 10px;
}

.burger {
  display: none;
  padding-right: 2px;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
  
}

.about{
  position: absolute;
  font-size: 15px;
  width: 40%;
  margin-left: 15%;
  margin-top: 10%;
  background-color: grey;
  padding: 2px;
  border: solid white 1px;
}

.wrapper{
  display: inline-flex;
  overflow: hidden;
  
}
.wrapper .static-txt{
  font-size: 15px;
  font-weight: 400;
  
}
.wrapper .dynamic-txts{
  margin-left: 5px;
  height: 0px;
  line-height: 0px;
  
}
.dynamic-txts li{
  list-style: none;
  font-size: 15px;
  font-weight: 100;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
  
}
@keyframes slide {
  100%{
    top: -80px;
  }
}
.dynamic-txts li span{
  position: relative;
  line-height: 20px;
 
  

}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: grey;
  border-left: 2px solid white;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 3px);
  }
  100%{
    left: 0;
  }
}

.footer {
  position: fixed;
  bottom: 2px;
  right: 30px;
  color: darkred;
}

@media (max-width: 700px) {
   
  body{
    overflow-x: hidden;
   }
    
   nav {
    position: unset;
    overflow: hidden;
    
} 

.nav-links{
    position: fixed;
    right: 0px;
    height: 50vh;
    top: 8vh;
    background-color: black;
    border-radius: 25px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(-200%);
    transition: transform 0.5s ease-in;
    z-index: 3;

}

    .nav-links ul li a {
        color: ghostwhite;
        opacity: 1;

    }

    .nav-links ul li {
      list-style: none;
      padding:30px 10px;
             
  }

  .current {
      padding: 30px 10px;
  }

   

    .burger {
      display: block;
      cursor: pointer;
  }

  .about{
    position: relative;
    font-size: 15px;
    width: 80%;
    padding-left: 5%;
  }
  
  .scene, canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    scale: 90%;
    margin-top: 220px;
    margin-left: -5px;
        
    }
    
  .wrapper .static-txt{
    color: black;
    font-size: 15px;
    font-weight: 400;
      
    }

  .dynamic-txts li{
    list-style: none;
    color: black;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    top: 0px;
    animation: slide 12s steps(4) infinite;
    
  }

  .footer {
        
    left: 2px;
    bottom: 0px;
    background-color: ghostwhite;
    border-top-right-radius: 10px;
    width: 54%;
    z-index: 2;
}


}

.nav-active{
  transform: translateX(-70%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

